<section id = "header">
        <a href = "/" > <img src="images/Logo.png" class = "logo" alt = ""  width= "30%" height="auto" ></a>
        <div>
            <ul id ="navbar">
                <li><a class="active"href = "/">Home</a></li>
                <li><a href = "/Boy/index">Boy</a></li>
                <li><a href = "/Girl/index">Girl</a></li>   
                               
            </ul>
        </div>
</section>
<section id="hero">
    <h2> CELEBRATION</h2>
    <h1>Super Sale</h1>
    <h1>ON ALL PRODUCTS</h1>
    <p>Buy more with coupons & up to 70% off! </p>
    <a href = "/"><button> <strong>SHOP NOW </strong></button></a>
</section>
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="images/Freeship.png" alt="" width= "40%" height="auto">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="images/Authentic.jpg" alt="" width= "35%" height="auto">
        <h6>100% Authentic</h6>
    </div>
    <div class="fe-box">
        <img src="images/Onlineorder.jpg" alt="" width= "40%" height="auto">
        <h6>Order Online</h6>
    </div>
    <div class="fe-box">
        <img src="images/Savemoney.png" alt="" width= "35%" height="auto">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="images/Support.png" alt="" width= "30%" height="auto">
        <h6>Support 24/7</h6>
    </div>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>NEW TOYS FOR BOYS</h4>
        <h2> Buy to get voucher</h2>
        <span> The best deal is avilable now</span>
        <a href = "/Boy/index"><button class="white">BUY NOW</button></a>
    </div>
    <div class="banner-box banner-box2">
        <h4>HOT NEWS</h4>
        <h2> NEW TOYS FOR GIRL</h2>
        <span> The best products <strong>HERE</strong></span>
        <a href = "/Girl/index"><button class="white">BUY NOW</button></a>
    </div>
</section>
<footer class="section-p1" class="section-m1">
    <div class="col">
        <h4>CONTACT</h4>
        <p><strong>ADRESS:</strong>PHAM VAN BACH, DICH VONG, CAU GIAY, HA NOI </p>
        <p><strong>PHONE:</strong> +0987654321/(+85)237498632</p>
        <p><strong>HOUR:</strong>8:00Am  - 18:00Pm.Mon->Sat</p>
        <div class="follow">
            <h4>FOLLOW US</h4>
            <div class="icon">
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-twitter" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-pinterest-p" ></i>
                <i class="fab fa-youtube" ></i>
            </div>
        </div>
    </div>
    <div class="col install">
        <h4>ABOUT </h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </div>
    <div class="col install">
        <h4>INSTALL APP</h4>
        <p>FROM APPSTORE OR CHPLAY</p>
        <div class="row">
            <img  src="images/appstore.png" alt="">
            <img class="ch2" src="images/chplay.jpg" alt="">
        </div>
        <p>SECURED PAYMENT GATEWAY</p>
        <img src="images/pay.png">
    </div>
    <div class= "copyright">
    <p> © 2022. BAYERN etc - BEST FOOTBALL CLUB IN EUROPE </p>
    </div>
</footer>
