<div class="container text-center mt-3 mb-3 col-md-8">
   <table class="table table-success">
      <tr>
         <h1 class="text text-primary">ADD NEW PRODUCTS</h1>
      </tr>
      <form class="bg-light text-center col-md-8" action="Boy/add" method="post">
      <th>
         <div class="form-group mt-3">
            <label class="text text-success">NAME</label>
            <input class="form-control" type="text" name="name" required>
         </div>
      </th>
      <th>
         <div class="form-group mt-3">
            <label class="text text-success">BRAND</label>
            <input class="form-control" type="text" name="brand" required>
         </div>
      </th>
      <th>
         <div class="form-group mt-3">
            <label class="text text-success">COLOR</label>
            <input class="form-control" type="text" name="color" required>
         </div>
      </th>
      <th>
         <div class="form-group mt-3">
            <label class="text text-success">IMAGE</label>
            <input class="form-control" type="text" name="image" required>
         </div>
      </th>
      <th>
         <div class="form-group mt-3">
            <label class="text text-success">PRICE</label>
            <input class="form-control" type="number" name="price" required>
         </div>
      </th>
      <th>
         <div class="form-group mt-3">
            <label></label>
            <input class="btn btn-danger" type="submit" value="Add">
         </div>
      </th>
      </form>
   </table>